workflow-n8n/05-notificacao-novo-lead.json
{
  "name": "05 - Notificacao Novo Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo-lead",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b1b2c3d4-0005-0005-0005-000000000001",
      "name": "Webhook Novo Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.responsible_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b1b2c3d4-0005-0005-0005-000000000002",
      "name": "Tem Responsavel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "tenant_id", "value": "={{ $json.tenant_id }}" },
            { "name": "user_id", "value": "={{ $json.responsible_id }}" },
            { "name": "title", "value": "=🆕 Novo lead: {{ $json.name }}" },
            { "name": "message", "value": "=Origem: {{ $json.origin }} | Telefone: {{ $json.phone }}" }
          ]
        }
      },
      "id": "b1b2c3d4-0005-0005-0005-000000000003",
      "name": "Notificar Responsavel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL }}/whatsapp-send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "=Olá {{ $json.name }}! Recebemos seu contato e em breve um de nossos atendentes entrará em contato. 😊" },
            { "name": "tenant_id", "value": "={{ $json.tenant_id }}" }
          ]
        }
      },
      "id": "b1b2c3d4-0005-0005-0005-000000000004",
      "name": "Mensagem Boas Vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 400]
    }
  ],
  "connections": {
    "Webhook Novo Lead": {
      "main": [[{ "node": "Tem Responsavel?", "type": "main", "index": 0 }]]
    },
    "Tem Responsavel?": {
      "main": [
        [{ "node": "Notificar Responsavel", "type": "main", "index": 0 }],
        [{ "node": "Mensagem Boas Vindas", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "CRM" }]
}
