workflow-n8n/07-relatorio-diario.json
{
  "name": "07 - Relatorio Diario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * 1-5" }]
        }
      },
      "id": "c1b2c3d4-0007-0007-0007-000000000001",
      "name": "Todo Dia Util 7h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sales_entries?status=eq.confirmado&sold_at=gte.{{ new Date(Date.now() - 86400000).toISOString().split('T')[0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      },
      "id": "c1b2c3d4-0007-0007-0007-000000000002",
      "name": "Buscar Vendas Ontem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const sales = $input.all();\nconst total = sales.reduce((sum, s) => sum + (s.json.value || 0), 0);\nconst count = sales.length;\nreturn [{ json: { total, count, message: `📊 Relatório do dia:\\n${count} vendas\\nTotal: R$ ${total.toFixed(2)}` } }];"
      },
      "id": "c1b2c3d4-0007-0007-0007-000000000003",
      "name": "Calcular Totais",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "tenant_id", "value": "={{ $env.DEFAULT_TENANT_ID }}" },
            { "name": "user_id", "value": "={{ $env.ADMIN_USER_ID }}" },
            { "name": "title", "value": "📊 Relatório Diário de Vendas" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        }
      },
      "id": "c1b2c3d4-0007-0007-0007-000000000004",
      "name": "Notificar Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Todo Dia Util 7h": {
      "main": [[{ "node": "Buscar Vendas Ontem", "type": "main", "index": 0 }]]
    },
    "Buscar Vendas Ontem": {
      "main": [[{ "node": "Calcular Totais", "type": "main", "index": 0 }]]
    },
    "Calcular Totais": {
      "main": [[{ "node": "Notificar Admin", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "CRM" }]
}
