workflow-n8n/08-whatsapp-lead-auto-pipeline.json
{
  "name": "08 - WhatsApp Lead Auto Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "d1b2c3d4-0008-0008-0008-000000000001",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst isGroup = (msg.key?.remoteJid || '').endsWith('@g.us');\nconst isFromMe = msg.key?.fromMe;\nif (isGroup || isFromMe) return [];\nconst phone = (msg.key?.remoteJid || '').replace('@s.whatsapp.net','').replace('@c.us','');\nconst text = msg.message?.conversation || msg.message?.extendedTextMessage?.text || '';\nreturn [{ json: { phone, text, name: msg.pushName || phone, raw: msg } }];"
      },
      "id": "d1b2c3d4-0008-0008-0008-000000000002",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/clients?phone=eq.{{ $json.phone }}&tenant_id=eq.{{ $env.DEFAULT_TENANT_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      },
      "id": "d1b2c3d4-0008-0008-0008-000000000003",
      "name": "Buscar Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "d1b2c3d4-0008-0008-0008-000000000004",
      "name": "Cliente Novo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/clients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "tenant_id", "value": "={{ $env.DEFAULT_TENANT_ID }}" },
            { "name": "name", "value": "={{ $('Extrair Dados').first().json.name }}" },
            { "name": "phone", "value": "={{ $('Extrair Dados').first().json.phone }}" },
            { "name": "origin", "value": "whatsapp" }
          ]
        }
      },
      "id": "d1b2c3d4-0008-0008-0008-000000000005",
      "name": "Criar Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "tenant_id", "value": "={{ $env.DEFAULT_TENANT_ID }}" },
            { "name": "client_id", "value": "={{ $json[0]?.id }}" },
            { "name": "channel", "value": "whatsapp" },
            { "name": "status", "value": "open" }
          ]
        }
      },
      "id": "d1b2c3d4-0008-0008-0008-000000000006",
      "name": "Criar Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 400]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [[{ "node": "Extrair Dados", "type": "main", "index": 0 }]]
    },
    "Extrair Dados": {
      "main": [[{ "node": "Buscar Cliente", "type": "main", "index": 0 }]]
    },
    "Buscar Cliente": {
      "main": [[{ "node": "Cliente Novo?", "type": "main", "index": 0 }]]
    },
    "Cliente Novo?": {
      "main": [
        [{ "node": "Criar Cliente", "type": "main", "index": 0 }],
        [{ "node": "Criar Conversa", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "CRM" }]
}
